<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-sticky" th:fragment="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">🌦️ Weather Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item me-2">
                    <a class="btn btn-outline-light nav-link" href="/">Home</a>
                </li>
                <li class="nav-item me-2">
                    <a class="btn btn-outline-light nav-link" href="/aboutus">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-light nav-link" href="/history">History</a>
                </li>
            </ul>
        </div>
    </div>
</nav>